@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&family=Tilt+Prism&display=swap');


:root {
    --primary-color: #DCE1E9;
    --secondary-color: #8FC3CB;
    --accent1-color: #1A1A80;
    --accent2-color: #0F0636;
  
    --heading-font: 'Tilt Prism', serif;
    --paragraph-font: 'Shantell Sans', serif;
  
    --nav-background-color: #1A1A80;
    --nav-link-color: #8FC3CB;
    --nav-hover-link-color: #0F0636;
    --nav-hover-background-color: #DCE1E9;   
}


*, footer, main, body, header {
    max-width: 1080px;
	margin: 1rem auto;
    padding: 0;
}


body {
    position: absolute;
    background-color: var(--secondary-color);
    padding: 0;
    margin: 0;
}


header {
    background-color: var(--accent1-color);
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
    gap: 1em;
    border: 2px solid var(--primary-color);

}


main {
    display: block;
}


header img {
    background-color: var(--secondary-color);
    padding: 2rem;
    border: 2px solid var(--primary-color);

}


.hero {
    position: relative;
}


.hero img {
    position: relative;
    border: 2px solid var(--primary-color);

}


.article img {
    float: right;
    width: 225px;
    bottom: 385px ;
    right: 125px;
    border: 2px solid var(--primary-color);
} 


.article p {
    position: absolute;
    width: 45%;
    top: 255px;
    left: 75px;
    right: 75px;
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 25rem;
    border: 2px solid var(--primary-color);
    background-color: var(--accent1-color);
    opacity: .8;
}


h1 {
    display: block;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    background-color: var(--primary-color);
    position: absolute;
    top: 75px;
    margin: 0;
    font-size: 3em;
    width: 100%;
}


.history {
    display: block;
    position: relative;
    background-color: var(--accent1-color);
    border: 2px solid var(--primary-color);

}


.history p {
    background-color: var(--accent1-color);
    display: block;
    padding-top: 11rem;
    padding-left: 20rem;
    padding-right: 2rem;
}


.history img {
    display: flex;
    width: 275px;
    height: 300px;
    position: relative;
    bottom: 120px;
    left: 1rem;
    padding-right: 50rem;
}


h2 {
    display: block;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 3em;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    position: absolute;
    bottom: 500px;
    width: 100%;
}


.adventure h2 {
    display: block;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 3em;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    position: absolute;
    bottom: 400px;
    width: 100%;
}


p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}


ul .navigation{
    display: flex;
    justify-content: space-evenly;
}


nav {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }


nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1.5rem;
  }


nav a:link, nav a:visited {
    color: var(--nav-hover-background-color);
}


nav a:hover {    
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    height: fit-content;
}


footer {
	border-top: 4px solid var(--accent2-color);
	color: navy;
	font-weight: 700;
	font-style: italic;
    font-size: large;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 2fr 1fr;
} 


footer p {
    padding: 1rem;
    display: grid;
    /* justify-content: space-evenly; */
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}


.socialmedia img {
    display: block;
    /* justify-content: center; */
    width: 30%;
    bottom: 1000px;
    /* grid-template-columns: 2fr 1fr 1fr; */
}


.adventure {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 8rem;
    padding-top: 8rem;
    gap: 10px;
    border: 2px solid var(--primary-color);
    position: relative;
}


figure {
    display: block;
    
}


.adventure img {
    width: 200px;
    height: 150px;
    border: 2px solid var(--primary-color);
}