@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&family=Tilt+Prism&display=swap');

:root {
    --primary-color: #DCE1E9;
    --secondary-color: #8FC3CB;
    --accent1-color: #1A1A80;
    --accent2-color: #0F0636;
  
    --heading-font: 'Tilt Prism', serif;
    --paragraph-font: 'Shantell Sans', serif;
  
    --nav-background-color: #1A1A80;
    --nav-link-color: #8FC3CB;
    --nav-hover-link-color: #0F0636;
    --nav-hover-background-color: #DCE1E9;
  }


body {
    max-width: 960px;
    padding: 25px;
    font-family: var(--paragraph-font);
}


h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

header {
    padding: 20px;
    background-color: var(--secondary-color);
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
}


nav {
    background-color: var(--nav-background-color);
    font-size: 1.5rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1.5rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }