@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&family=Tilt+Prism&display=swap');


:root {
    --primary-color: #DCE1E9;
    --secondary-color: #8FC3CB;
    --accent1-color: #1A1A80;
    --accent2-color: #0F0636;

    --heading-font: 'Tilt Prism', serif;
    --paragraph-font: 'Shantell Sans', serif;

    --nav-background-color: #1A1A80;
    --nav-link-color: #8FC3CB;
    --nav-hover-link-color: #0F0636;
    --nav-hover-background-color: #DCE1E9;
}


*,
footer,
main,
body,
header {
    max-width: 1080px;
    margin: 1rem auto;
    padding: 0;
}


body {
    background-color: var(--secondary-color);
    padding: 0;
    margin: 0;
}


header {
    background-color: var(--accent1-color);
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 35% 65%;
    padding: 1rem;
    gap: 1em;
    border: 2px solid var(--primary-color);
}


header img {
    background-color: var(--secondary-color);
    padding: 2rem;
    border: 2px solid var(--primary-color);
}

.attention p,
.trips p,
.pricingtable p {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
    font-size: 1.5rem;
}


h1 {
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    background-color: var(--accent1-color);
    font-size: 3em;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2.25rem;
}


.attention img {
    background-color: var(--secondary-color);
    width: 100%;
    height: auto;
}


.attention h1 {
    position: absolute;
    top: 775px;
    opacity: .7;
}


.bookinginfo p {
    display: flex;
    justify-content: center;
    width: 80%;
    padding-bottom: 2rem;
}


.button[id="allbookings"] {
    display: flex;
    justify-content: center;
    width: 50%;
}


hr {
    color: var(--accent2-color);
    background-color: var(--accent2-color);
    padding-top: .1rem;
    padding-bottom: .1rem;
}


h2 {
    display: flex;
    justify-content: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 2em;
    text-decoration: underline;
}


h3 {
    display: flex;
    align-items: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 2em;
    text-decoration: underline;
}


.trips img {
    width: 275px;
    height: auto;
}


.alldaytrips {
    display: grid;
    grid-template-columns: 32% 32% 32%;

    gap: 1.3rem;
}


.trip1,
.trip2,
.trip3,
.trip4,
.trip5 {
    border: 2px solid var(--accent2-color);
    padding: .3rem;
}


.halfdaytrips {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.3rem;
    max-width: 67%;
}


figure {
    display: block;
    text-align: center;
}


figcaption {
    font-family: var(--paragraph-font);
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}


nav {
    font-size: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}


nav a {
    display: flex;
    color: var(--nav-link-color);
    text-decoration: none;
}


.socialmedia {
    display: flex;
}


nav a:link,
nav a:visited {
    color: var(--nav-hover-background-color);
}


nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    height: fit-content;
}


footer {
    border-top: 4px solid var(--accent2-color);
    color: navy;
    font-weight: 700;
    font-style: italic;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;

}


footer p {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}


.socialmedia img {
    display: flex;
    justify-content: space-around;
    width: 32%;
    height: auto;
}


.button {
    display: flex;
    justify-content: center;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;

}


.button:hover {
    background-color: var(--accent1-color);
}


.button[id="allbookings2"] {
    display: flex;
    justify-content: center;
    width: 80%;
}


/* Pricing Table */
table {
    font-family: var(--paragraph-font);
    font-weight: 600;
    width: 100%;
}

td,
th {
    border: 1px solid var(--accent2-color);
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--primary-color);
}